h1 {
    color: #E3F4FC;
}

h2 {
    font-family: 'Arial';
    color: #E3F4FC;
    font-size:1.3em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin:6px;
}

::placeholder { 
    color: rgb(1,210,119);
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color: rgb(1,210,119);
  }
  
  ::-ms-input-placeholder { 
    color: rgb(1,210,119);
  }

.app {
    background-color: rgb(8,26,36);
    min-height:100vh;
    width:100vw;
    position:absolute;
    top:0;
    left:0;
}
