@font-face {
  font-family: 'LoveloBlack';
  src:url('./static/fonts/LoveloBlack.ttf.woff') format('woff'),
      url('./static/fonts/LoveloBlack.ttf.svg#LoveloBlack') format('svg'),
      url('./static/fonts/LoveloBlack.ttf.eot'),
      url('./static/fonts/LoveloBlack.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'LoveloBlack';
}

.App {
  text-align: center;
}
